<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Contextus</title>
    <link rel="stylesheet" href="/static/css/historycontextus.css"/>
   
</head>
<body>

    <div class="body-content">
        <div class="login-container">
            <a class="leave" href="{% url 'login' %}" >Voltar</a>
            <div class="login-content">
              <img src="/static/img/logo.png"  class="logo"/>               
            </div> 
              <p>
                Digite o texto aqui
              </p>
        </div>
                  
    <div class="about-content">

        <p class="button-colaboradores"> Uma parceria:</p>

        <br/>
        <p class="button-logo">
        <a class="logos" href="https://www.cedis.unb.br">
            <img src="/static/img/cedis.png"  class="logos"/>
        </a>
        <a class="logos" href="https://www.fap.df.gov.br">
            <img src="/static/img/fapdf.png"  class="logos"/>
        </a>
        <a class="logos" href="http://sitehistorico.ibict.br">
            <img src="/static/img/ibict.png"  class="logos"/>
        </a>             
    </div>
 
</body>
</html>
