<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Contextus</title>
    <link rel="stylesheet" href="/static/css/duvidas_frequentes.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    
</head>
<body>
      
    <div class="body-content">
        <a class="backbase" href="{% url 'login' %}"><img src="/static/img/back.png" class="img-back"></a>
        <div class="login-container">
            <div class="login-content">
              <img src="/static/img/logo.png"  class="logo"/> 
              <div class="login-email">

<div class="faq-container">
    <h2>Perguntas Frequentes (FAQ)</h2>
    </br></br>
    <div class="faq-item">
        <div class="faq-question">O Contextus é pago?</div>
        <div class="faq-answer">
            <p>Não, o Contextus é um projeto gratuito.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">Existe limitação de quantidade de pesquisas?</div>
        <div class="faq-answer">
            <p>Não, a quantidade de pesquisas é ilimitada.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">O que acontece se a pesquisa for feita em uma língua e o botão for clicado em outra língua?</div>
        <div class="faq-answer">
            <p>A pesquisa será realizada mas a resposta não será precisa.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-question">Por que preciso fazer um cadastro para utilizar?</div>
        <div class="faq-answer">
            <p>Por questões de segurança e para melhor atender os usuários nas próximas atualizações.</p>
        </div>
    </div>
</div>

</div> 
</div>        
</div>

<div class="about-content">   
<p class="button-colaboradores"> Uma parceria:</p>

<br/>
<p class="button-logo">
<a class="logos" href="https://www.cedis.unb.br">
  <img src="/static/img/cedis.png"  class="logos"/>
</a>
  <a class="logos" href="https://www.fap.df.gov.br">
    <img src="/static/img/fapdf.png"  class="logos"/>
  </a>
  <a class="logos-ibict" href="http://sitehistorico.ibict.br">
    <img src="/static/img/ibict.png"  class="logos"/>
  </a>             
<p>           
</div> 
</div>     

</body>
</html>
