<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css"/>

    <!-- Adicione aqui qualquer CSS ou frameworks que você esteja usando -->
</head>
<body>
    {% comment %} <img src="/static/img/library.jpg" class="library" alt=" "/> {% endcomment %}
    <div class="login-container">
        <div class="login-content">
            <div class="login-email">
        <h2>Entrar</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if error %}
        
                <div class="error-message">
                    <p>{{ error }}</p>
                </div>
            {% endif %}
            <div class="hr-email">
            </div>
        
            </div>
            <div class="button-container">
            <button type="submit">Próximo</button>
            </div>
        </form>
    </div>
    </div>
</body>
</html>
