<!DOCTYPE html>
<html>
  <head>
    <title>Contextus</title>
    <link rel="stylesheet" href="/static/css/style.css" />

    <link rel="stylesheet" href="/static/css/all.min.css" />
  </head>
  <body>
    <div class="container">
      <div style="display: flex; justify-content: space-between">
        <div style="display: flex; justify-content: space-between">
          <div class="logout">
            <i class="fa-sharp fa-solid fa-arrow-right-from-bracket" style="color: #241148;"></i>
            <button class="logout-button" type="button" value="logout">
              Sair
            </button>
          </div>
        </div>
        <img class="chatibict" src="/static/img/contextus2.png" alt="chatibict"/>
      </div>

      <form method="POST" class="form-container">
        {% csrf_token %}

        <div class="form-field campo-phrasetest">
          {{ form.phraseTest.label_tag }} {{ form.phraseTest }}
        </div>

        <button type="submit">Pesquisar</button>
      </form>

      <script>
        document
          .querySelector('button[value="logout"]')
          .addEventListener("click", function () {
            document.querySelector(".form-container").action = "{% url 'logout_view' %}";
            document.querySelector(".form-container").submit();
          });
      
        document
          .querySelector('i.fa-arrow-right-from-bracket')
          .addEventListener("click", function () {
            document.querySelector(".form-container").action = "{% url 'logout_view' %}";
            document.querySelector(".form-container").submit();
          });
      </script>
      

      <footer > <img class="imagem" src="/static/img/fapdf.png" />
        <img class="imagem" src="/static/img/cedis.png"/>
        <img class="imagem" src="/static/img/ibict.png" />
       
        
        
      </footer>
    </div>
  </body>
</html>
