<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/home.css"/>

  </head>

  <body>
    <div class="leave">
      <a>Sair &nbsp </a> 
    <img src="/static/img/leave.png"  class="button-leave"/>
    
    </div>
    <div class="option">
    </br>
      <p> Língua do texto a ser pesquisado: </p>
    </br>
      <button class="button-pesquisar" type="submit" onclick="submitForm(event)" name="action" value="pesquisar_en">Inglês</button>
      <button class="button-pesquisar" type="submit" onclick="submitForm(event)" name="action" value="pesquisar_br">Português</button> 
    </br> 
    </div>
    <div class="body-content">
        <div class="login-container">
            <div class="login-content">  
                <img src="/static/img/logo.png"  class="logo"/> 
                    
                    <div class="login-email">
                      <form method="POST" class="form-container">
                      {% csrf_token %}
                      {% csrf_token %}

                      {% comment %} <div class="form-field campo-title">
                        {{ form.title.label_tag }} {{ form.title }}
                      </div> {% endcomment %}

                      <div class="form-field campo-phrasetest">
                        {{ form.phraseTest.label_tag }} {{ form.phraseTest }}
                      </div>

                      <button class="button-next" type="submit">Buscar</button>
                      </form>
                    </div> 

            </div>        
        </div>

        <div class="about-content">

          <button class="button-history" type="submit"><img src="/static/img/email.png"/> &nbsp Contate-nos!</button>
            
        </div> 
      </div>

  </body>
</html>
