<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/signup_email.css"/>

    <!-- Adicione aqui qualquer CSS ou frameworks que você esteja usando -->
</head>
<body>
    
    <div class="body-content">
        
            <a href="{% url 'login' %}"><img src="/static/img/back.png" class="img-back"></a>
       
        
        <div class="login-container">
            
            <div class="login-content">  
                <img src="/static/img/logo.png"  class="logo"/>   
                    <div class="login-email">
                    <br/> 
                    <h2>Cadastro Email</h2>
                    <br/> <br/> 
                    <form method="post">
                        {% csrf_token %}
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="error">
                                {% for error in form.email.errors %}
                                    <span class="error-message">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <br/><br/><br/><br/>
                        <div class="button-container">
                            <button class="button-next" type="submit">Entrar</button>
                        </div>    
                    </form>
                    
                        </div>
                            
</div>
</div>
</body>
</html>
