@font-face {
    font-family: "inter";
    src: url("/static/fonts/Inter.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: inter;
}


body {
    background-image: url(library.jpg);
    background-position-x: center;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-content {
    width: 30%;
    height: 70%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-container {
    width: 100%;
    height: 70%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content {
    background-color: transparent;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-history {
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding-left: 10%;
    width: 100%;
    height: 25%;
    font-size: 15px;
    color: black;
    border: none;
    margin-bottom: 3%;
}

.button-history a {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* color: black; */
}

.login-content {

    width: 80%;
    height: 80%;
}

.login-email {

    width: 100%;
    height: 90%;
}

label {
    display: none;
}

h2 {

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

a {
    text-decoration: none;
    color: #0067B8;
    font-size: 15px;
}

a.icon {
    color: #161616;
}

p {
    font-size: 15px;
}

.button-container {
    display: flex;
    justify-content: right;
    bottom: 0;
    height: 10%;
}

.button-next {
    border: none;
    background-color: #0067B8;
    width: 108px;
    height: 30px;
    flex-shrink: 0;
    font-size: 15px;
    color: #F5F5F5;
}

.form-control {

    width: 100%;
    border-bottom: 1px solid black;
}

form input {
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.hr-email {
    margin-top: 3px;
    border: 1px solid #666;
}

.error-message {
    color: red;
}

.img-back {
    height: auto;
    width: 10%;
    align-items: top;
}

.fac-e-manual {
    display: flex;
    align-items: center;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 20px;


}

.fac-e-manual button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: #ffffff;
    /* position: absolute;
    bottom: 0; */


}

.fac-e-manual a {
    background-color: transparent;
    border: none;
    color: #ffffff;

}

.fac-e-manual span {
    text-decoration: underline;
}

.fac-e-manual span:hover {
    font-weight: bold;
}

@media (max-aspect-ratio: 4/3) {
    body {
        background-image: url(library.jpg);
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-color: #D7844C; */
    }


    .login-container {
        margin-top: 20vw;
        width: 80vw;
    }

    .about-content {
        width: 80vw;
        margin-top: 6vw;

    }

    .option {
        width: 55vw;
        margin-left: 25vw;
        margin-top: 12vw;

        /* font-size: 22px; */
    }

    .option p {

        font-size: 28px;
    }

    .leave {
        margin-top: 20px;
        width: 18vw;
        height: 2vh;
        font-size: 20px;
        font-weight: 400;
    }

    .leave p {

        font-size: 30px;
    }

    textarea {
        font-size: 30px;
    }

    .button-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90px;
        font-size: 30px;
        margin: none;
    }

    .button-history {
        font-size: 32px;
    }

    .button-pesquisar {
        height: 45px;
        width: 180px;
        font-size: 30px;

    }

    img.logo {
        width: 250px;

    }

    img.icon {
        width: 40px;

    }

    a.icon {
        color: #161616;
    }

}