body {
  background-image: linear-gradient(135deg, #170932, #241148,
      #3d1e5c, #854b9c, #aa5eb6);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: inherit;
  height: 100vh;
  width: 100wh;
}

.container {
  margin: none;
  display: flex;
  height: 100vh;
  flex-direction: row;
  text-align: center;
}


.link {
  margin-top: 1rem;
  text-align: right;
  margin-right: 11vh;
  font-weight: bold;
  color: white
}

.coluna_1 {
  margin-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.coluna_2 {

  width: 40%;
  height: 80%;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0.5rem 0.5rem;
  text-decoration: white;


}

.link {
  text-align: right;
}

.link a:visited {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  color: white;
}

.title {
  margin-top: rem;
  color: #fbffff;
}

.imagem {

  max-width: 100%;
  max-height: 100%;
}

.form {
  height: 3rem;
  text-align: center;
  justify-content: center;
  color: white;
}


.inner-box {
  max-width: 65%;
  min-width: 15rem;
  height: 55vh;
  border-radius: 10px;
  border: 2px solid #943e8e;
  border-color: #943e8e;
  background-color: #302464;
  margin: auto;
  margin-top: 7vh;
  /* centraliza horizontalmente */
  display: center;
  justify-content: center;
  /* centraliza verticalmente */
  align-items: center;
  /* centraliza verticalmente */
  padding: 20px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}


button {
  border-radius: 10px;
  border-color: #943e8e;
  background-color: #241148;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px white;
  border-bottom: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 4vh;

}


.form-group input[type="text"],
.form-group input[type="password"] {

  padding: 0.6vh 0.1vh;
  font-size: 15px;
  border-radius: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px white;
  border-bottom: white;
  margin-top: 2vh;


}

.input-group {
  display: flex;
  font-size: 15px;
  width: 40%;

}

label {

  float: left;
  text-align: left;
  width: 35%;
  padding-top: 6vh;
  margin-right: 5%;
  padding: 1rem 0rem;
  font-size: 2vh;

}