@font-face {
    font-family: "inter";
    src: url("/static/fonts/Inter.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: inter;
}


body {
    background-image: url(library.jpg);
    background-position-x: center;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-content {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

iframe {
    width: 100%;
    height: 90%;
}



.img-back {
    height: auto;
    width: 2%;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 1%;
    /* padding-left: 20px; */

}


@media (max-aspect-ratio: 4/3) {
    body {
        background-image: url(library.jpg);
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .body-content {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    iframe {
        width: 100%;
        height: 90%;
    }



    .img-back {
        height: auto;
        width: 2%;
        position: absolute;
        left: 0;
        top: 0;
        margin-left: 1%;


    }


}