@font-face {
    font-family: "inter";
    src: url("/static/fonts/Inter.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: inter;
}


body {
    background-image: url(library.jpg);
    background-position-x: center;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-content {
    width: 30%;
    height: 60%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-container {
    width: 100%;
    height: 85%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content {
    background-color: transparent;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.login-content {

    width: 80%;
    height: 80%;
}

.login-email {

    width: 100%;
    height: 90%;
}

label {
    display: none;
}

h2 {

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

a {
    text-decoration: none;
    color: #0067B8;
    font-size: 15px;

    height: auto;
    width: 100%;
    align-items: left;

}

p {
    font-size: 15px;
}

.button-container {
    display: flex;
    justify-content: right;
    bottom: 0;
    height: 10%;
}

.button-next {
    background-color: #0067B8;
    width: 108px;
    height: 30px;
    flex-shrink: 0;
    font-size: 15px;
    color: #F5F5F5;
}

.form-control {

    width: 100%;
    border-bottom: 1px solid black;
}

form input {
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.hr-email {
    margin-top: 3px;
    border: 1px solid #666;
}

.error-message {
    color: red;
}

.img-back {
    height: auto;
    width: 6%;
    padding-left: 20px;

}


@media (max-aspect-ratio: 4/3) {
    body {
        background-image: url(library.jpg);
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-color: #D7844C; */
    }

    .body-content {
        width: 80vw;
        height: 30vh;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .login-container {
        /* margin-top: 20vw; */
        width: 80vw;
        height: 25vh;
        display: flex;
    }

    .button-next {
        height: 55px;
        /* width: 260px; */
        font-size: 30px;
    }

    img {
        width: 250px;
    }

    .img-back {
        height: auto;
        width: 7%;
        padding-left: 25px;

    }

}