body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: inherit;
}
.container {
    margin: none;
    display: flex;
    height: 100vh;
    flex-direction: row;
    text-align: center;
  }
 

  .link {
    text-align: right;
    margin-right: 5rem;
  }
  .link a:visited {
    text-decoration: none;
    color: inherit;
    color: #fbffff;
  }
  
.coluna_1 {
    margin-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  .coluna_2 {
    background-color: #18355A;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.5rem 0.5rem;
    max-width: 50vw; /* definindo a largura máxima da coluna em relação à largura da tela */
  }

  .title {
    margin-top: 2rem; 
    color: #fbffff;
  }
  
.imagem {
   
    max-width: 100%;
    max-height: 100%;
  }

  .form{
    height: 2rem;
    text-align: center;
    justify-content: center;
    color: white;
  }

  .inner-box {
    width: 70%; /* ajustando a largura do inner-box para ocupar 70% da largura da coluna_2 */
    height: 78vh;
    background-color: #425978;
    margin: 20px auto;
    padding: 10px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    
  }

button {
    border-radius: 10px;
    border-color: #18365a;
    background-color : #18365a;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px white;
    border-bottom: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 1.2rem;
    
  }

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"]{
 
  padding: 0.5rem 1rem;
  font-size: 14px;
  border-radius: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px white;
  border-bottom: white;
 
  
}

.input-group {
  display: flex;
  font-size: 16px;
  width: 60%;
  
}

label {

  float: left;
  text-align: left;
  width: 35%;
  padding-top: 6px;
  margin-right: 5%;
  padding: 1rem 0rem; 
  font-size: 15px;
  
}

