body {
  background-image: linear-gradient(135deg, #170932, #241148,
      #3d1e5c, #854b9c, #aa5eb6);
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  height: 100vh;
  width: 100wh;
  /* color: #EFF6FB; */
}


button {
  border-radius: 10px;
  border-color: #943e8e;
  background-color: #241148;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20vh white;
  border-bottom: white;
  padding: 0.8vh 1.2vh;
  cursor: pointer;
  font-size: 2.3vh;
  margin-top: 2vh;

}

form {
  /* background-color: #8093F1; */
  padding: 20px;
  border-radius: 10px;
}

footer {
  /* align-items: center;
  margin-left: auto;
  margin-right: auto; */
  margin-top: 2.1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.imagem {
  width: 15vh;
  align-items: center;
  margin-right: 1rem;

  /* Ajuste o tamanho da imagem conforme necessário */

}


.chatibict {

  /* margin-top: 2rem; */
  max-width: 50vh;
  max-height: 50vh;
  width: auto;
  height: auto;


}

.custom-icon {
  color: white;
}

div#option {
  width: 100%;
  text-align: center;
  padding: 1vh;
  font-size: 1.3vh;
  color: #18355A;
}

.textarea {

  background-color: white;
  border-radius: 1vh;
  border: 0.1vh solid #943e8e;
  border-color: #943e8e;
  height: 32vh;
  border-radius: 1vh;
  padding: 1vh;
  margin: 1vh 0;
  resize: none;
  width: 45wh;
  font-size: 2.2vh;
  margin-top: 5vh;


}

.campo-phrasetest label {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

label {
  font-size: 20px;
  /* aqui você pode ajustar o tamanho do texto conforme desejado */
  /* color: #18355A; */
}

.option {
  display: inline-block;
  border-radius: 10px;
  border-color: #943e8e;
  /* background-color: #18355A; */
  background-color: #241148;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px white;
  border-bottom: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  /* margin-top: 1.2rem; */

}


.logout {
  display: flex;
  align-items: center;
  color: #18355A;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  padding: 2rem;
}

.logout i {
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  margin-right: 0.5rem;
  color: #18355A;


}

.logout button {
  text-align: center;
  align-items: center;
  margin: auto;
  margin-left: 0.5rem;

}

.link {
  text-align: right;
  margin-right: 5rem;
}