<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/senha.css"/>

    <!-- Adicione aqui qualquer CSS ou frameworks que você esteja usando -->
</head>
<body>
    
    <div class="body-content">
        
            <a href="{% url 'login' %}"><img src="/static/img/back.png" class="img-back"></a>
       
        
        <div class="login-container">
            
            <div class="login-content">  
                <img src="/static/img/logo.png"  class="logo"/>   
                    <div class="login-email">
                    <br/> 
                    <h2>Senha alterada com sucesso!</h2>
                    <br/> 
                    
                    <form method="post">
                    {% block content %}

                      <p>Faça o login para acessar o contextus</p>
                    {% endblock %}

                      {% csrf_token %}
                      {{ form.as_p }}
                        
                      <div class="button-container">
                        <a href="{% url 'home' %}">
                          <button class="button-next">Próximo</button>
                        </a>
                      </div>   

                    </form>
                    </div>
  

</div>

</div>
</div>
</body>
</html>
