<!DOCTYPE html>
<html>
    <head>
        <title>Contextus</title>
        <link rel="stylesheet" href="/static/css/password_reset_form.css" />
</head>
<body>
    <div class="container">

        <div class="coluna_1">
            <img src="/static/img/contextus2.png" alt="chatibict" class="imagem" />
            <button class="logout-button" type="button" value="logout">
              Sair
            </button>
        </div>
    
        <div class="coluna_2">
            <div class="title"><h1>BEM-VINDO(A)!</h1></div>
    
            <div class="inner-box">
                <form method="post" action="{% url 'login' %}" class="form" id="login-form">
                    
                    {% block content %}
                
                    <form method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit">Enviar</button>
                    </form>
                  {% endblock %}
                  
        
  
            </form>
        </div>
        
        <div class="link">
            <a href="{% url 'login' %}">Lembrou a senha? Login</a>

        </div>
    </div>



</body>
</html>
