{% comment %} <!DOCTYPE html>
<html>
  <head>
    <title>Contextus</title>
    
    <link rel="stylesheet" href="/static/css/signup.css" />
    
  </head>

  <body>
    <div class="container">
        <div class="coluna_1">
          <img src="/static/img/contextus2png" alt="chatibict" class="imagem" />
        </div>

        <div class="coluna_2">
            <div class="inner-box">
                <form method="post" class="form"> {% endcomment %}
                 
<!-- password_reset_confirm.html -->


<!-- templates/registration/password_reset_confirm.html -->
{% block content %}
  <h2>Set New Password</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change my password</button>
  </form>
{% endblock %}

