{% comment %} <!DOCTYPE html>
<html>
  <head>
    <title>Contextus</title>
    <link rel="stylesheet" href="/static/css/password_reset_done.css" />
  </head>
  <body>
    <div class="container">
      <div class="coluna_1">
        <img src="/static/img/contextus2.png" alt="chatibict" class="imagem" />
      </div>
      
      <div class="coluna_2">
        <div class="inner-box">
           <form method="post" class="form"> 
            <div class="title"><h2>Recuperação de senha enviada com sucesso!</h2></div>
            <p></p>
            <p>Verifique seu E-mail. Caso não encontre em sua caixa de entrada, verifique sua lixeira ou spam.</p>
        </div>
        <div class="link">
        <a href="{% url 'auth:login' %}">Login</a>
      </div>
      
    </div>
</body>
</html> {% endcomment %}
<!-- password_reset_done.html -->

<!-- templates/registration/password_reset_done.html -->
<!-- templates/registration/password_reset_done.html -->


{% block content %}
  <h2>Password reset sent</h2>
  <p>Check your email for the link to reset your password.</p>
{% endblock %}
