{% comment %} <!DOCTYPE html>
<html>
    <head>
        <title>Contextus</title>
        <link rel="stylesheet" href="/static/css/password_reset_form.css" />
</head>
<body>
    <div class="container">

        <div class="coluna_1">
            <img src="/static/img/contextus2.png" alt="chatibict" class="imagem" />
            <button class="logout-button" type="button" value="logout">
              Sair
            </button>
        </div>
    
        <div class="coluna_2">
            <div class="title"><h1>BEM-VINDO(A)!</h1></div>
    
            <div class="inner-box">
                <form method="post" action="{% url 'login' %}" class="form" id="login-form">
                    
                    {% block content %}
                
                    <form method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit">Enviar</button>
                    </form>
                  {% endblock %}
                  
        
  
            </form>
        </div>
        
        <div class="link">
            <a href="{% url 'login' %}">Lembrou a senha? Login</a>

        </div>
    </div>



</body>
</html> {% endcomment %}
<!-- templates/registration/password_reset_form.html -->

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/password_rest_form.css"/>

    <!-- Adicione aqui qualquer CSS ou frameworks que você esteja usando -->
</head>
<body>
    
    <div class="body-content">
        
            <a href="{% url 'login' %}"><img src="/static/img/back.png" class="img-back"></a>
       
        
        <div class="login-container">
            
            <div class="login-content">  
                <img src="/static/img/logo.png"  class="logo"/>   
                    <div class="login-email">
                    <br/> 
                    <h2>Insira sua Senha</h2>
                    <br/> 
                    <form method="post">
                      {% csrf_token %}
                      {{ form.email.label_tag }} <!-- Renderiza a label do campo de e-mail -->
                      {{ form.email }} <!-- Renderiza o campo de e-mail -->
    <div class="button-container">
      <button class="button-next" type="submit">Enviar</button>
  </div>    
</div>

</form>
</div>
  
</div>
</div>
</body>
</html>
