<!DOCTYPE html>
<html>
  <head>
    <title>chatibict</title>
    <link rel="stylesheet" href="/static/css/password_reset_form.css" />
  </head>
  <body>
    <div class="container">
      <div class="coluna_1">
        <img src="/static/img/chat_ibict.png" alt="chatibict" class="imagem" />
      </div>

      <div class="coluna_2">
        <h1>Esqueceu sua senha?</h1>

        <div class="inner-box">
          <form method="post" class="form">
            <div class="title"><h3>Para recuperar seu acesso, precisamos do seu E-mail.</h3></div>
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.email.id_for_label }}" style="display: block">Email:</label>
              {{ form.email }}
            </div>
            <button type="submit">ENVIAR</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
