{% comment %} <!DOCTYPE html>
<html>
  <head>
    <title>Contextus</title>
    <link rel="stylesheet" href="/static/css/password_reset_done.css" />
  </head>
  <body>
    <div class="container">
      <div class="coluna_1">
        <img src="/static/img/contextus2.png" alt="chatibict" class="imagem" />
      </div>
      
      <div class="coluna_2">
        <div class="inner-box">
           <form method="post" class="form"> 
            <div class="title"><h2>Recuperação de senha enviada com sucesso!</h2></div>
            <p></p>
            <p>Verifique seu E-mail. Caso não encontre em sua caixa de entrada, verifique sua lixeira ou spam.</p>
        </div>
        <div class="link">
        <a href="{% url 'auth:login' %}">Login</a>
      </div>
      
    </div>
</body>
</html> {% endcomment %}
<!-- password_reset_done.html -->

<!-- templates/registration/password_reset_done.html -->
<!-- templates/registration/password_reset_done.html -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/senha.css"/>

    <!-- Adicione aqui qualquer CSS ou frameworks que você esteja usando -->
</head>
<body>
    
    <div class="body-content">
        
            <a href="{% url 'login' %}"><img src="/static/img/back.png" class="img-back"></a>
       
        
        <div class="login-container">
            
            <div class="login-content">  
                <img src="/static/img/logo.png"  class="logo"/>   
                    <div class="login-email">
                    <br/> 
                    <h2>Email enviado com sucesso!</h2>
                    <br/> 
                    

{% block content %}

  <p>Verifique seu email com o link para a recuperação de senha.</p>
{% endblock %}
  
</div>

</form>
</div>

</div>
</div>
</body>
</html>
