<!DOCTYPE html>
<html>
  <head>
    <title>chatibict</title>
    <link rel="stylesheet" href="/static/css/password_reset_form.css" />
  </head>
  <body>
    <div class="container">
      <div class="coluna_1">
        <img src="/static/img/chat_ibict.png" alt="chatibict" class="imagem" />
      </div>
      
      <div class="coluna_2">
        <div class="inner-box">
          {% comment %} <form method="post" class="form"> {% endcomment %}
            <div class="title"><h2>Recuperação de senha enviada com sucesso!</h2></div>
            <p></p>
            <p>Verifique seu E-mail. Caso não encontre em sua caixa de entrada, verifique sua lixeira ou spam.</p>
        </div>
      </div>
    </div>
</body>
</html>
