<!DOCTYPE html>
<html>
  <head>
    <title>Contextus</title>
    <link rel="stylesheet" href="/static/css/password_reset_complete.css" />
  </head>
  <body>
    <div class="container">
      <div class="coluna_1">
        <img src="/static/img/chat_ibict.png" alt="chatibict" class="imagem" />
      </div>
      
      <div class="coluna_2">
        <div class="inner-box">
          {% comment %} <form method="post" class="form"> {% endcomment %}
            <div class="title"><h2>Renovação de senha feita com sucesso!</h2></div>
            <p></p>
            <div class="link">
            <p>Você pode acessar a página clicando aqui: <a href="{% url 'login' %}">Login</a></p>
            </div>
        </div>
      </div>
    </div>
</body>
</html>
